h1 {
    text-align: center;
    /* Centers the text horizontally */
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Full height of the viewport */
}

.main-container {
    display: flex;
}

.main-container div {
    padding: 7px;
}

.column {
    flex: 1;
    /* Each column takes up an equal amount of space */
    padding: 20px;
    /* Adjust as needed */
}

#gallery {
    flex-grow: 1;
    /* Allows the gallery to take up the remaining space */
    overflow-y: auto;
    /* Enables scrolling within the gallery */
}

.slider-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    /* Adjust the minmax values as needed */
    grid-gap: 10px;
    /* Adjust the gap between images */
    /* Add other styling as needed */
}

.slider-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.selected-image {
    border: 2px solid blue;
    /* Example style for a selected image */
}

.image-container {
    display: inline-block;
    /* Display containers inline */
    margin-right: 10px;
    /* Space between image containers */
}

.image-container img {
    /*display: block;*/
    /* Ensure the image takes up the whole line */
    height: auto;
    /* Adjust as needed */
    max-width: 250px;
    /* Maintain aspect ratio */
}

.image-label {
    display: block;
    /* Ensure the label takes up the whole line below the image */
    margin-top: 5px;
    /* Space between image and label */
    font-size: 14px;
    /* Adjust as needed */
    color: #333;
    /* Adjust as needed */
}

.image-date {
    display: block;
    /* Ensure the label takes up the whole line below the image */
    margin-top: 5px;
    /* Space between image and label */
    font-size: 14px;
    /* Adjust as needed */
    color: #333;
    /* Adjust as needed */
}